
html, body {
   margin: 0;
   height: 100%;
   /* display: grid;  */
   min-height: 100vh;
   /* flex-direction: column; */
   --height-red:22vh;
   --padding-top-bottom:40px;
   --padding-left-right:80px;
   }
   main {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 6fr 1fr;
      grid-template-areas: 
            "red  "
            "green  "
            "blue"
            "lila"
            /* "green blue   lila" */

      }

   #red {
      background-color: red;
      height: var(--height-red);
      /* height: 30vh; */
      grid-area:red;
      /* margin-bottom: 15px; */
   }

   #green {
      background-color: lime;
      grid-area:green;
      /* height: calc(100vh - var(--height-red) - 2*var(--padding-top-bottom)); */
      /* margin-right: 5px; */
   }

   #blue {
      background-color: blue;
      grid-area:blue;
      /* height: calc(100vh - var(--height-red) - 2*var(--padding-top-bottom)); */
   }

   #lila {
      background-color: magenta;
      grid-area:lila;
      /* height: calc(100vh - var(--height-red) - 2*var(--padding-top-bottom)); */
            /* margin-left: 5px; */

   }

   @media (min-width: 576px) {
      main {
         display: grid;
         grid-template-columns: 1fr 2fr;
         grid-template-rows: 1fr 6fr 1fr;
         grid-template-rows: 20vh 100vh 20vh;
        grid-template-columns: 20vw 60vw 20vw;
         grid-template-areas: 
            "red red red" 
            "green blue blue"
            "lila lila lila"
      }   
      #lila {
          /* background-color: magenta; */
          /* grid-area:lila; */
          /* height: calc(100vh - var(--height-red) - 2*var(--padding-top-bottom)); */
          margin-left: 0px;
          margin-top: 5px;
      }
       #red {
      background-color: red;
      height: calc(var(--height-red) - 5vh);
      /* height: 30vh; */
      grid-area:red;
      /* margin-bottom: 15px; */
  }  
  #green {
      margin-right: 10px;
      margin-top: 0px;
  }
  }
  

  @media (min-width: 768px) {

      main {
          display: grid;
          grid-template-rows: 25vh 75vh;
          grid-template-columns: 25vw 50vw 25vw;
          grid-template-areas: 
          "red red red"
          "green blue lila"
          /* "green blue   lila" */

  }   
     #green {
          margin-right: 10px;
          margin-top: 0px;
      }
     #lila {
          margin-left: 10px;
          margin-top: 0px;
      }
      #red {
      background-color: red;
      height: var(--height-red) ;
      grid-area:red;
  }  
  }



