

h1{
		color:red;
		text-align:center;
		border:thin solid black;
		:hover { color: red }
}


body{

		background-color:pink;

}
footer {
		text-align: center;
		padding: 0px;
		background-color: DarkSalmon;
		color: white;
}
img{
		display:block;
		margin-left:auto;
		margin-right:auto;
		[width="100"]
}
nav[role="navigation"] {
		display: flex;
		justify-content: space-around;
}

