

h1{
		color:red;
		text-align:center;
		border:thin solid black;
}


body{

		background-color:pink;

}
footer {
  text-align: center;
  padding: 10px;
  background-color: DarkSalmon;
  color: white;
}
