* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  padding: 10px;
  width: 50%;
  height: 90vh;
  background: #FF90;
}

iframe {
  display: grid;
  grid-template-areas:
    "iframe";
  grid-template-rows: auto;
  height: 100vh;
  width: 100vh;
  border: none;
}

@keyframes example {
  0% {
    background-color: red;
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#logo-svg {
  opacity: 0.9;
  position: absolute;
  width: 70px;
  height: 100px;
  right: 0;
  top: 70px;
  opacity: 0;
  /* transform: translateX(-500%); */
  /* transform: scale(1.5); */
  /* Change translateY to translateX */
  /* transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out; */
  /* animation-name: example; */
  /* animation-duration: 4s; */
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  color: #333;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #333;
  display: block;
}

.sidenav a:hover {
  color: white;
}


.sidenav .submenu {
  display: none;
}

.sidenav a:hover+.submenu,
.sidenav .submenu:hover {
  display: block;
}

.sidenav .menu li {
  position: relative;
}

.sidenav .menu li .submenu {
  display: none;
  position: absolute;
  top: 0;
  padding-left: 100px;
}

.sidenav .menu li:hover .submenu {
  display: block;
}


