* {
    margin: 0;
    padding: 0;
}

.sidenav {
    --var-biggest-size: 100px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #333;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0.95;
}

.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 20px;
}

.menu li {
    position: relative; /* Add position relative */

    margin-bottom: 10px;
}

.menu li:hover .submenu {
    display: block;
    opacity: 1;
    transform: translateX(100%); /* Change translateY to translateX */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.menu li a {
    color: #fff;
    text-decoration: none;
    opacity: 1;
}

.submenu {
    display: none;
    background-color: #333;
    padding: 10px;
    top: 0;
    /*right: -30px; !* Set the desired distance from the parent menu item *!*/
    /*right: calc(-1 * (var(--var-biggest-size) + 10px)); !* Set the desired distance from the parent menu item *!*/
}

/*.submenu li {*/
/*    margin-bottom: 0px;*/
/*}*/

/*.submenu li:last-child {*/
/*    margin-bottom: 0;*/
/*}*/

