* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidenav {
  height: 100%;
  width: 250px; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #333;
  /* color: #818181; */
  display: block;
}

.sidenav a:hover {
  color: white;
  transform: scale(1.2);
  transition: transform .5s; 
  padding-left:50px


}

.sidenav .submenu {
  /* padding-left: 150; */
}

.sidenav .submenu {
  display: none;
}

.sidenav a:hover + .submenu,
.sidenav .submenu:hover {
  display: block;
}
.sidenav .menu li {
  position: relative;
}

.sidenav .menu li .submenu {
  display: none;
  position: absolute;
  top: 0;
  padding-left: 100px;
}

.sidenav .menu li:hover .submenu {
  display: block;
}
/* * { */
/*     margin: 0; */
/*     padding: 0; */
/* } */
/**/
/* .sidenav { */
/*     --var-biggest-size: 100px; */
/*     position: fixed; */
/*     top: 0; */
/*     left: 0; */
/*     height: 100vh; */
/*     background-color: #333; */
/*     padding: 1px; */
/*     display: flex; */
/*     flex-direction: column; */
/*     align-items: flex-start; */
/*     opacity: 0.95; */
/* } */
/**/
/* .menu { */
/*     display: flex; */
/*     flex-direction: column; */
/*     list-style: none; */
/*     margin-top: 20px; */
/* } */
/**/
/* .menu li { */
/*     position: relative; /* Add position relative */ */
/**/
/*     margin-bottom: 10px; */
/* } */
/**/
/* .menu li:hover .submenu { */
/*     display: block; */
/*     opacity: 1; */
/*     transform: translateX(100%); /* Change translateY to translateX */ */
/*     transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; */
/* } */
/**/
/**/
/* .menu li a { */
/*     color: #fff; */
/*     text-decoration: none; */
/*     opacity: 1; */
/* } */
/**/
/* .submenu { */
/*     display: none; */
/*     background-color: #333; */
/*     padding: 10px; */
/*     top: 0; */
/*     /*right: -30px; !* Set the desired distance from the parent menu item *!*/ */
/*     /*right: calc(-1 * (var(--var-biggest-size) + 10px)); !* Set the desired distance from the parent menu item *!*/ */
/* } */
/**/
/* /*.submenu li {*/ */
/* /*    margin-bottom: 0px;*/ */
/* /*}*/ */
/**/
/* /*.submenu li:last-child {*/ */
/* /*    margin-bottom: 0;*/ */
/* /*}*/ */
/**/
