        .board {
            width: 300px;
            height: 300px;
            fill: #fff;
            stroke: #000;
        }

        .cell {
            fill: #fff;
            stroke: #000;
        }

        .X {
            width: 100px;
            height: 100px;

            /* stroke: #f00; */
            /* stroke-width: 3; */
        }

        .x {
            stroke: #f00;
            stroke-width: 3;
        }


        .o {
            stroke: #00f;
            stroke-width: 3;
        }