 #html-textarea, #css-textarea, #js-textarea {
     /* height: 85vh; */
     height: 5vh; /* moved into nav.js */
     width: 100vh;

     background-color: #f4f4f4;
     background-color: #FEF9E7;
     padding: 10px;
     border-radius: 5px;
     overflow-x: auto;

     font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
     font-size: 14px;
     color: #333;
 }

 body {
     background-color: lightgreen;
     /* background-color: #FEF9E7; */
     background-color: white;
 }

 @media screen and (max-width: 800px) {
 #html-textarea, #css-textarea, #js-textarea {
         width: 65vh;
     }

 }
